
@media screen and (max-width: 1200px) {
	.vo_nav_ul li {
		margin-left: 8px;
	}
}
@media screen and (max-width: 992px) {
	.vo_nav_ul li {
		margin-left: 2px;
	}
	.vo_nav_ul li a{
		padding: 15px 5px;
	}
	.vo_footer_img img {
		margin-left: 15px !important;
	}
}
@media screen and (max-width: 768px) {
	.vo_nav_ul li {
		background-color: black;
	}
	.vo_footer_img img {
		margin-left: 5px !important;
	}
}
