@media screen and (max-width: 992px) {
	.vo_nav_ul li {
		margin-left: 5px;
	}
	.vo_nav_ul li a{
		padding: 15px 5px;
	}
	.vo_footer_img img {
		margin-left: 15px !important;
	}
}
@media screen and (max-width: 768px) {
	.vo_nav_ul li {
		background-color: black;
	}
	.vo_footer_img img {
		margin-left: 10px !important;
	}
	.vo_nav_ul li:hover {
	background-color: #353535;
}
}
